<header>

  <div class="top-bar">

    <div class="top-bar-container">

      <div class="tool-bar">

        <input type="search" name="search-bar" id="search-bar">

        <div class="social-icons">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-discord"></i>
          <i class="fa-solid fa-envelope"></i>
        </div>

      </div>

      <div class="logo-container"></div>

      <div class="utilities-bar">

        <div class="cart"></div>

        <div class="customer-space">

          <ul>
            <li>Mon compte</li>
            <li>Se connecter</li>
            <li>S'enregistrer</li>
          </ul>

        </div>

      </div>
    </div>



  </div>

  <div class="bottom-bar"></div>

</header>
